<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>firstName</key>
		<string>Jonas</string>
		<key>lastName</key>
		<string>Legrand</string>
		<key>email</key>
		<string>jonas.legrand@example.com</string>
		<key>photoString</key>
		<string>12</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Francis</string>
		<key>lastName</key>
		<string>Garnier</string>
		<key>email</key>
		<string>francis.garnier@example.com</string>
		<key>photoString</key>
		<string>11</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Tindra</string>
		<key>lastName</key>
		<string>Klavenes</string>
		<key>email</key>
		<string>tindra.klavenes@example.com</string>
		<key>photoString</key>
		<string>10</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Eeli</string>
		<key>lastName</key>
		<string>Kivisto</string>
		<key>email</key>
		<string>eeli.kivisto@example.com</string>
		<key>photoString</key>
		<string>9</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Aada</string>
		<key>lastName</key>
		<string>Heinonen</string>
		<key>email</key>
		<string>aada.heinonen@example.com</string>
		<key>photoString</key>
		<string>8</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Guro</string>
		<key>lastName</key>
		<string>Røstad</string>
		<key>email</key>
		<string>guro.rostad@example.com</string>
		<key>photoString</key>
		<string>7</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Julia</string>
		<key>lastName</key>
		<string>Smith</string>
		<key>email</key>
		<string>julia.smith@example.com</string>
		<key>photoString</key>
		<string>6</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Aubrey</string>
		<key>lastName</key>
		<string>Martin</string>
		<key>email</key>
		<string>aubrey.martin@example.com</string>
		<key>photoString</key>
		<string>5</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Arno</string>
		<key>lastName</key>
		<string>Brun</string>
		<key>email</key>
		<string>arno.brun@example.com</string>
		<key>photoString</key>
		<string>4</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Loan</string>
		<key>lastName</key>
		<string>Lucas</string>
		<key>email</key>
		<string>loan.lucas@example.com</string>
		<key>photoString</key>
		<string>3</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Don</string>
		<key>lastName</key>
		<string>White</string>
		<key>email</key>
		<string>don.white@example.com</string>
		<key>photoString</key>
		<string>2</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Louane</string>
		<key>lastName</key>
		<string>Vidal</string>
		<key>email</key>
		<string>louane.vidal@example.com</string>
		<key>photoString</key>
		<string>1</string>
	</dict>
</array>
</plist>
